<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/tdbs.css">
  <link rel="shortcut icon" href="/favicon.ico" />
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
	<div class="wrap">
	<div class="navbar navbar-inverse nav-color" role="navigation">
		<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">SDETool</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle nav-color" data-toggle="dropdown">More <b class="caret"></b></a>
					<ul class="dropdown-menu nav-color-inverse">
						<li><a href="/tools">Tools</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
		</div>
	</div>
	<div class="col-md-9" role="main">
		<p>
		<h1>
			SDETool 
		</h1>
			<p>
				is a command line application that I wrote to allow to access the Dust514 <strong>S</strong>tatic <strong>D</strong>ata <strong>E</strong>xport</br>
				
			</p>
			<h3>Usage</h3>
			<p>
				
			</p>
			<div class="bs-callout">
			The server is written in the same language as SDETool so we are able to use the same code to handle the SDE
			</div>
		<!-- Button trigger modal -->
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="NewInput();">
					SDETool
				</button>
				</span>
			<input id="flags" placeholder="-s Kaalakiota Rail Rifle" value=""  class="form-control" type="text"></input>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">SDETool</h4>
					</div>
					<div id="modal-body" class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		</p>
		</div>
	<div class="container" id="ourcont">
		<div id = "alert_placeholder"></div>


	</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/jquery-1.9.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/tdbs.js">
	</script>

  </body>
</html>
