/*
	Commenting everything out because my shotty CSS broke everything :D
	I'll do a proper custom version of bootstrap when I get a chance
*/

/*a {
	color: #ffffff !important;
}
.link-text {
	color: #336699 !important;
}
a:hover {
	background-color: #999999 !important;
}

body {
	background: #444444 !important;
	color: #ffffff !important;
} 
.nav-color {
	background: #336699 !important;
	color: #ffffff !important;
	border-color: transparent !important;
	border-width: 0px;
}
.nav-color-inverse {
	background: #444444 !important;
	color: #336699 !important;
	border-color: #444444 !important;
}
.entry {
	background: #999999 !important;
	color: #000000 !important;
	border-color: transparent !important;
	border-width: 0px;
	text-align: center;
}
.entry-left {
	background: #999999 !important;
	color: #000000 !important;
	border-color: transparent !important;
	border-width: 0px;
}*/